*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(247, 243, 233);
}
.border{
    border: 2px solid black;
}

.display{
   display:flex;
   align-items: center;
   justify-content: center;
}
header{
 height: 7rem;
 width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  gap: 4rem;
  background-color: white;
}

.header-input{
    height: 2rem;
    width: 50%;
    outline: none;
    padding-left: 2rem;

}
.categ-button{
    height: 2rem;
    width: 30%;
    border-left: none;
}
.search{
    width: 20%;
    height: 2rem;
    background-color: black;
    color: rgb(253, 252, 250);
    border-left: none;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
.contact{
    gap: 0;
}
.cart{
    height: 80%;
    width: 18%;
    background-color: orange;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    
}

.sidebar{
    height: 100vh;
    width: 20vw;
    background-color: white;
}
.main{
    height: 100%;
    width: 70vw;
    
}
.sidebar-main{
    gap: 20px;
    margin-top: 30px;
}
.crousal{
    height: 400px;
    width: 100%;
}

.books-poster{
    height: 230px;
    width: 100%;
    gap: 20px;
}

.books-links{
    height: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 90% 10%;
}

.books-links-text{

    justify-content: start;
    gap: 40px;
    padding-left: 1rem;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.books-links-text>p:hover{
    color: orange;
}

.books-list{
    height: 500%;
    width: 100%;
    background-color: white;
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.books-list-card{
    height: 300px;
    width: 200px;
    /* background-color: gray; */
    color:gray;
    line-height: 1.7rem;
    
}
.books-list-card>h4{
    color: orange;
    
}


.books-list-card-img{
    height: 70%;
    width: 100%;
    background-image: url(https://opencart.templatetrip.com/OPC02/OPC040/OPC09/image/cache/catalog/demo/product/02-210x210.jpg);
   background-repeat: no-repeat;
   border: 1px solid gray;

   transition: all 1s;
    align-items: end;

   justify-content: start;
   padding-left: 1rem;padding-bottom: 0.4rem;
}
.books-list-card-img-icon{
     padding:3px; border-radius:50%;
    display: none;
    padding: 3px;
    transition: all 1s;
    background-color: rgb(241, 234, 234);
    color: rgb(165, 163, 163);
}
.books-list-card-img:hover{
    background-image: url(https://opencart.templatetrip.com/OPC02/OPC040/OPC09/image/cache/catalog/demo/product/01-570x570.jpg);
 /* background-repeat: no-repeat;
   border: 1px solid gray; */
   height: 70%;
   width: 100%;
   background-size: cover;
   gap: 0.4rem;

   
  &{
    .books-list-card-img-icon{
              display:inline;
             /* width: 300px;  */
    }
  }


}

.books-list-card-img-icon:hover{
    background-color: rgb(106, 105, 105);
    color: white;
}

.stars{
    width:1rem;
    color: rgb(229, 190, 118);
   
}

.stars:nth-child(n){
       background:orange;
      
}

.stars:last-child{
    background-color:transparent;
}

.book_happiness{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.anime{

    height:400px;
    width:400px;
    position: absolute;
    display: flex;

}

.anime:hover{
    &{
        .anime-child{
            animation: hover .7s ease-in  1 alternate;
        }
        .anime-child_2{
            animation: hover_2 .7s ease-in  1 alternate;
        }
        
    }
}

.anime-child{
    height: 100%;
    width: 100%;
    position: absolute;
   
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.anime-child_2{
    height: 100%;
    width: 100%;
    position: absolute;
   
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes hover {
    0%{
        height: 0;
        opacity: 100%;
         width: 0;
    }
    100%{
        background: rgb(15,18,18);
background: linear-gradient(149deg, rgb(215, 223, 223) 0%, rgba(220,245,240,1) 25%);
width: 100%;
opacity: 0;
height: 100%;
    }
  
}

@keyframes hover_2 {
    100%{
        height: 100%;
        opacity: 100%;
         width: 100%;
    }
    100%{
        background: rgb(15,18,18);
background: linear-gradient(149deg, rgb(215, 223, 223) 0%, rgba(220,245,240,1) 25%);
width: 0%;
height: 0%;
opacity: 0;
    }

    
}

.Latest-news{
    height:300px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    gap: 2%;
}

.Latest-news-card{
    height: 100%;
    width: 40%;
}
.Latest-new-card-img{
    transition: all 1s;
    width: 100%;
   height: 80%;
   border: 2px solid black;
  
}
.Latest-new-card-img:hover{
    filter: brightness(0.7);
    &{
        .Latest-new-card-img-icon{
    
            transform: scale(1.3);
            opacity: 100%;
           
        }
    }
}
.Latest-new-card-img-icon{
    position: absolute;
    top:40%;
    right: 50%;
    
    border:2px solid white;
    border-radius: 50%;
    color: white;
    padding: 5px;
    transition: all 1s;
    transform: scale(2);
    opacity: 0;
    filter: brightness(4);
            
    
}

.Latest-new-card-img-icon:hover{
    
background-color: black;
    
}

.manufacturers{
    height: 140px;
    width: 100%;
    background-color: rgb(222, 220, 220);
    margin-top: 10px;
    
    overflow-x: hidden;
    
    gap: 40px;
   
    

}
.manufacturers-img{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    gap: 30px;
    animation: scrool 8s ease-in-out 1s alternate-reverse  infinite ;
}

.img-scrool{
    width: 400px;
    height: 130px;
}
@keyframes scrool {
    0%{
        transform: translateX(0px);
        
    }
    10%{
        /* transform: translateX(-220px); */
        
    }
    100%{
        transform: translateX(-900px);
    }

}
.manufacturers::-webkit-scrollbar{
    width: 0;
}


.up-button{

    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 90%;
    left: 95%;
    background-color: orange;
    color: white;

    
}
